@import '../../../styles/mixins', '../../../styles/styles';

.chatContainer {
  max-width: 1000px;
  background: $white;
  height: 100%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 30px;
}

.chatHeader {
  background: $--dark-color-a;
  color: $white;
  padding: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > a {
    cursor: pointer;
    padding: 5px 0px;
    font-size: x-large;
    color: $--light-color;
    border: none;
    &:hover {
      transition: all 0.3s linear 0s;
      color: $--yellow-color-b;
    }
  }
}
