@import '../../../styles/styles.scss', '../../../styles/mixins';

.successModal_container {
  @include modalBackground-setting;

  .successModal {
    width: 300px;
    @include modal-setting;

    .successModal_header {
      @include flex-setting('', '', row-reverse);

      .successModal_exit {
        width: 20px;
        height: 20px;
        margin: 10px;
        cursor: pointer;
      }
    }

    .successModal_body {
      text-align: center;
    }

    .successModal_footer {
      @include flex-setting('', center, '');
      gap: 20px;

      .successModal_toLogin {
        padding: 8px 10px;
        @include flex-setting('', center, '');
        cursor: pointer;
        color: $white;
        font-weight: bold;
        background-color: $default;
        border: 1px solid $default;
        border-radius: 20px;
      }

      .successModal_toExit {
        padding: 8px 10px;
        @include flex-setting('', center, '');
        cursor: pointer;
        color: $default;
        font-weight: bold;
        border: 1px solid $default;
        border-radius: 20px;
      }
    }
  }
}
