.crewModalHeader {
  display: flex;
  flex-direction: row-reverse;

  .crewModalExit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

.bodyTop {
  text-align: center;
  padding: 10px;
  width: 400px; //! 고친부분

  .crewTitle {
    max-width: 300px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin: 0 auto;
    color: #3bc9db;
    font-size: 1.25rem;
    font-weight: bold;
  }
  hr {
    margin-top: 5px;
    border-top: 1px solid #3bc9db;
  }

  .leaderImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
}

.bodyMid {
  padding: 10px;
  .mid_option {
    color: #3bc9db;
    font-weight: bold;
    display: flex;
    gap: 3vw;

    .left_title {
      width: 86px;
      height: 40px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    .left_details {
      width: 86px;
      height: 40px;
      display: flex;
      flex-direction: row-reverse;
      margin-top: 10px;
    }

    .right_text {
      width: 245px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #6e6e6e;

      //! 아래로 고친부분
      &:nth-child(2) {
        align-items: normal;
        padding: 8px;
      }
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .right_options {
      width: 245px;
      font-size: 0.9rem;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vw;

      .right_option {
        width: 4rem;
        height: 30px;
        padding: 16px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #c2c2c2;
        font-weight: bold;
        border: 2px solid #3bc9db;
        border-radius: 30px;
      }
      .focused {
        width: 4rem;
        height: 30px;
        padding: 16px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3bc9db;
        color: #ffffff;
        font-weight: bold;
        border: px solid #3bc9db;
        border-radius: 30px;
      }
    }

    .right_details {
      width: 245px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      padding: 0 10px 0 10px;
      color: #6e6e6e;
      font-weight: normal;

      //! 아래로 고친부분
      height: 150px;
      align-items: normal;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.crewModalFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .crewErrMsg {
    color: #ff7545;
    font-weight: 500;
    text-align: center;
  }
  .toDoRun {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 5px;
    cursor: pointer;
    color: #ffffff;
    width: 10rem;
    height: 2.5rem;
    font-size: 16px;
    font-weight: bold;
    background-color: #3bc9db;
    border: 1px solid #3bc9db;
    border-radius: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .crewModalBody {
    height: 300px;
    overflow: auto;
  }
  .crewModalBody::-webkit-scrollbar {
    width: 7px;
  }
  .crewModalBody::-webkit-scrollbar-thumb {
    background-color: #3bc9db;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .crewModalBody::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
}
