$backgroundColorWhite: #ffffff;
$inputBorder: #dee2e6;
$inputBackground: #eeeeee;
$cyan: #3bc9db;
$cyanDark: #15aabf;
$gray_6: #868e96;
$gray_7: #495057;
$error: #ff7545;

.registerBlock {
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 100%;
}

.registerWrapper {
  background: $backgroundColorWhite;
  max-width: 390px;
  margin: 0 auto;
  border: 1px solid $inputBorder;
  border-radius: 2rem;
  height: 52rem;

  h1 {
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    color: $gray_7;
    text-align: center;
    padding-bottom: 10px;
    background: $backgroundColorWhite;
  }
}

.registerFrm {
  background: $backgroundColorWhite;
  width: 90%;
  margin: 0 auto;

  p {
    color: $error;
    background: $backgroundColorWhite;
    font-weight: 500;
    font-size: 0.5rem;
    &::before {
      display: inline;
      content: '⚠ ';
    }
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $inputBorder;
    padding: 10px 15px;
    font-size: 14px;
    background: $inputBackground;
  }

  input[type='submit'] {
    background: $cyan;
    color: $backgroundColorWhite;
    text-transform: uppercase;
    border: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border-radius: 100px;
    -webkit-appearance: none;

    &:hover {
      background: $cyanDark;
    }
    &:active {
      transition: 0.3s all;
      transform: translateY(3px);
      border: 1px solid transparent;
      opacity: 0.8;
    }
  }

  input:disabled {
    opacity: 0.3;
  }

  .labelTitle {
    line-height: 2;
    text-align: left;
    display: block;
    margin-top: 10px;
    color: $gray_6;
    font-size: 14px;
    font-weight: 500;
    background: $backgroundColorWhite;
  }
}
// 패스워드
.passwordField {
  position: relative;
}

#toggler {
  position: absolute;
  right: 15px;
  top: 70%;
  transform: translateY(-50%);
  color: $gray_6;
  cursor: pointer;
}
// 체크박스
#someID {
  display: none;
}

.checkbox-1 {
  cursor: pointer;
  position: relative;
  padding-left: 1.8rem;
  font-family: 'Cafe24Ohsquareair';
}

.checkbox-1:before {
  position: absolute;
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5px;
  border: 1px solid $inputBorder;
  background: $backgroundColorWhite;
  text-align: center;
  left: 0;
  top: 2px;

  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.checkbox-1:after {
  position: absolute;
  content: '✔';
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $cyan;
  left: 4px;
  top: 4px;

  transform: scale(0);

  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#someID:checked + .checkbox-1:after {
  transform: scale(1);
}

@media screen and (max-width: 768px) {
  .registerBlock {
    margin-top: 0;
  }
  .registerWrapper {
    min-width: 320px;
  }
}
