@import '../../styles/mixins', '../../styles/styles';

.registerBlock {
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 100%;
  @include mobile {
    margin-top: 0;
  }
}

.registerWrapper {
  background: $white;
  max-width: 390px;
  margin: 0 auto;
  border: 1px solid $--input-border;
  border-radius: 2rem;
  height: 52rem;

  h1 {
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    color: $--gray-color-b;
    text-align: center;
    padding-bottom: 10px;
    background: $white;
  }
}

.registerFrm {
  background: $white;
  width: 90%;
  margin: 0 auto;

  p {
    color: $--error-color;
    background: $white;
    font-weight: 500;
    font-size: 0.5rem;
    &::before {
      display: inline;
      content: '⚠ ';
    }
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $--input-border;
    padding: 10px 15px;
    font-size: 14px;
    background: $--input-border;
  }

  input[type='submit'] {
    @include register-btn;

    &:hover {
      background: $--dark-color-a;
    }
    &:active {
      transition: 0.3s all;
      transform: translateY(3px);
      border: 1px solid transparent;
      opacity: 0.8;
    }
  }

  input:disabled {
    opacity: 0.3;
  }

  .labelTitle {
    line-height: 2;
    text-align: left;
    display: block;
    margin-top: 10px;
    color: $--gray-color-a;
    font-size: 14px;
    font-weight: 500;
    background: $white;
  }
}
// 패스워드
.passwordField {
  position: relative;
}

#toggler {
  position: absolute;
  right: 15px;
  top: 70%;
  transform: translateY(-50%);
  color: $--gray-color-a;
  cursor: pointer;
}
// 체크박스
#someID {
  display: none;
}

.checkbox-1 {
  cursor: pointer;
  position: relative;
  padding-left: 1.8rem;
  font-family: 'Cafe24Ohsquareair';
  &::before {
    position: absolute;
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 5px;
    border: 1px solid $--input-border;
    background: $white;
    text-align: center;
    left: 0;
    top: 2px;

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &::after {
    position: absolute;
    content: '✔';
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: $default;
    left: 4px;
    top: 4px;

    transform: scale(0);

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

#someID:checked + .checkbox-1:after {
  transform: scale(1);
}
