$backgroundColorWhite: #ffffff;
$inputBorder: #dee2e6;
$inputBackground: #eeeeee;
$cyan: #3bc9db;
$cyanDark: #15aabf;
$gray_6: #868e96;
$gray_7: #495057;
$error: #ff7545;

.registerBlock {
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 100%;
}

.registerWrapper {
  background: $backgroundColorWhite;
  max-width: 390px;
  margin: 0 auto;
  border: 1px solid $inputBorder;
  border-radius: 2rem;
  height: 50rem;

  h1 {
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    color: $gray_7;
    text-align: center;
    padding-bottom: 10px;
    background: $backgroundColorWhite;
  }
}

.registerFrm {
  background: $backgroundColorWhite;
  width: 90%;
  margin: 0 auto;

  p {
    color: $error;
    background: $backgroundColorWhite;
    font-weight: 500;
    font-size: 0.5rem;
    &::before {
      display: inline;
      content: '⚠ ';
    }
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $inputBorder;
    padding: 10px 15px;
    font-size: 14px;
    background: $inputBackground;
  }

  input[type='submit'] {
    background: $cyan;
    color: $backgroundColorWhite;
    text-transform: uppercase;
    border: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 10px;
    cursor: pointer;
    border-radius: 100px;
    -webkit-appearance: none;

    &:hover {
      background: $cyanDark;
    }
    &:active {
      transition: 0.3s all;
      transform: translateY(3px);
      border: 1px solid transparent;
      opacity: 0.8;
    }
  }

  input:disabled {
    opacity: 0.3;
  }

  .labelTitle {
    line-height: 2;
    text-align: left;
    display: block;
    margin-top: 10px;
    color: $gray_6;
    font-size: 14px;
    font-weight: 500;
    background: $backgroundColorWhite;
  }
}

@media screen and (max-width: 768px) {
  .registerBlock {
    margin-top: 0;
  }
  .registerWrapper {
    min-width: 320px;
  }
}
