@import '../../../styles/styles.scss', '../../../styles/mixins';

.crewModal_header {
  @include flex-setting('', '', row-reverse);

  .crewModal_exit {
    @include flex-setting(center, center, column);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

.crewModal_bodyTop {
  text-align: center;
  padding: 10px;
  // width: 400px; //! 고친부분

  .crewModal_title {
    max-width: 300px;
    @include flex-setting('', center, '');
    padding-bottom: 10px;
    margin: 0 auto;
    color: $default;
    font-size: 1.25rem;
    font-weight: bold;
  }
  hr {
    margin-top: 5px;
    border-top: 1px solid $default;
  }
}

.crewModal_bodyMid {
  padding: 10px;
  .mid_option {
    color: $default;
    font-weight: bold;
    display: flex;
    gap: 3vw;

    .left_title {
      width: 86px;
      height: 40px;
      @include flex-setting(center, '', row-reverse);
    }

    .left_details {
      width: 86px;
      height: 40px;
      @include flex-setting('', '', row-reverse);
      margin-top: 10px;
    }

    .right_text {
      width: 245px;
      height: 40px;
      @include flex-setting(center, center, '');
      color: $--text-color;
      font-family: 'Cafe24Ohsquareair';

      //! 아래로 고친부분
      &:nth-child(2) {
        align-items: normal;
        padding: 8px;
      }
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .right_options {
      width: 245px;
      font-size: 0.9rem;
      height: 40px;
      @include flex-setting(center, center, '');
      gap: 1vw;

      .right_option {
        width: 4rem;
        height: 2rem;
        padding: 1rem 0.5rem;
        @include flex-setting(center, center, '');
        color: #c2c2c2;
        font-weight: bold;
        border: 2px solid $default;
        border-radius: 30px;
        font-family: 'Cafe24Ohsquareair';
      }
      .focused {
        width: 4rem;
        height: 30px;
        padding: 16px 10px;
        @include flex-setting(center, center, '');
        background-color: $default;
        color: $white;
        font-weight: bold;
        border: 2px solid $default;
        border-radius: 30px;
        font-family: 'Cafe24Ohsquareair';
      }
    }

    .right_details {
      width: 245px;
      max-height: 100px;
      margin-top: 10px;
      padding: 0px 20px;
      color: $--text-color;
      font-weight: normal;
      font-family: 'Cafe24Ohsquareair';
      align-items: normal;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $default;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px $white;
      }
    }
  }
}

.crewModal_footer {
  @include flex-setting(center, center, column);
  gap: 20px;

  .crewModal_errMsg {
    color: $--error-color;
    font-weight: 500;
    text-align: center;
  }

  .crewModal_toDoRun {
    @include flex-setting(center, center, '');
    margin: 0px;
    padding: 5px;
    cursor: pointer;
    color: $white;
    width: 10rem;
    height: 2.5rem;
    font-size: 16px;
    font-weight: bold;
    background-color: $default;
    border: 1px solid $default;
    border-radius: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .crewModal {
    .crewModal_body {
      height: 315px;
      overflow: auto;
    }
    .crewModal_body::-webkit-scrollbar {
      width: 7px;
    }
    .crewModal_body::-webkit-scrollbar-thumb {
      background-color: $default;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
    }
    .crewModal_body::-webkit-scrollbar-track {
      border-radius: 10px;
      box-shadow: inset 0px 0px 5px $white;
    }
  }
}
