@import '../../../styles/styles.scss', '../../../styles/mixins';

.emailModal_container {
  @include modalBackground-setting;

  .emailModal {
    width: 300px;
    @include modal-setting;

    .emailModal_body {
      @include flex-setting(center, center, column);
      margin: 20px 0px;

      .emailModal_text {
        margin: 5px;
        font-family: 'Cafe24Ohsquareair';
      }

      .emailModal_btn {
        margin-top: 20px;
        width: 100px;
        padding: 5px 10px 6px;
        @include flex-setting('', center, '');
        cursor: pointer;
        color: $white;
        font-weight: bold;
        background-color: $default;
        border: 1px solid $default;
        border-radius: 20px;
      }
    }
  }
}
