@import '../../../styles/styles.scss', '../../../styles/mixins';

.confirmModal_container {
  @include modalBackground-setting;

  .confirmModal {
    width: 300px;
    @include modal-setting;

    .confirmModal_header {
      @include flex-setting('', '', row-reverse);

      .confirmModal_exit {
        width: 20px;
        height: 20px;
        margin: 10px;
        cursor: pointer;
      }
    }

    .confirmModal_body {
      text-align: center;
    }

    .confirmModal_footer {
      @include flex-setting('', center, '');
      gap: 20px;

      .confirmModal_toLogin {
        padding: 5px 10px 6px;
        @include flex-setting('', center, '');
        cursor: pointer;
        color: $white;
        font-weight: bold;
        background-color: $default;
        border: 1px solid $default;
        border-radius: 10px;
      }

      .confirmModal_toExit {
        padding: 5px 10px 6px;
        @include flex-setting('', center, '');
        cursor: pointer;
        color: $default;
        font-weight: bold;
        border: 1px solid $default;
        border-radius: 10px;
      }

      .confirmModal_toDoChat {
        padding: 5px 10px 6px;
        @include flex-setting('', center, '');
        cursor: pointer;
        color: $white;
        font-weight: bold;
        background-color: $--yellow-color-a;
        border: 1px solid $--yellow-color-a;
        border-radius: 10px;
      }
    }
  }
}
