@import '../../../styles/styles.scss', '../../../styles/mixins';

.resetPassword_container {
  @include modalBackground-setting;

  .resetPassword {
    width: 380px;
    @include modal-setting;

    .resetPassword_header {
      @include flex-setting('', '', row-reverse);

      .resetPassword_exit {
        width: 20px;
        height: 20px;
        margin: 10px;
        cursor: pointer;
        @include flex-setting(center, center, '');
      }
    }

    .resetPassword_body {
      @include flex-setting(center, center, column);

      .resetPassword_title {
        font-weight: 700;
        font-size: 2rem;
        color: #555;
        text-align: center;
        padding-bottom: 10px;
      }

      .resetPassword_text {
        font-family: 'Cafe24Ohsquareair';
        margin: 5px;
      }

      .resetPassword_inputArea {
        @include flex-setting('', '', column);
        margin: 20px;

        .resetPassword_label {
          line-height: 2;
          text-align: left;
          display: block;
          color: $--text-gray;
          font-size: 14px;
          font-weight: 500;
        }

        .resetPassword_input {
          width: 100%;
          padding: 10px 15px;
          border: none;
          border-radius: 4px;
          background-color: $--input-color;
          border: 1px solid $--input-border;
        }
      }
    }

    .resetPassword_footer {
      @include flex-setting(center, center, column);

      .resetPassword_passed {
        color: $default;
      }
      .resetPassword_nonpassed {
        color: $--error-color;
      }

      .resetPassword_btn {
        width: 200px;
        background: $default;
        color: $white;
        text-align: center;
        border: none;
        padding: 10px;
        margin: 20px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 10px;
        cursor: pointer;
        border-radius: 100px;
      }
    }
  }
}
