@import '../../../styles/styles.scss';

.MyMedal {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  .MyMedal_wrapper {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 530px;
    border-top: 1px solid #dee2e6;
    background-color: $white;
    padding-top: 1rem;
    //132.5
    .MyMedal_medalArea {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px;
      gap: 25px;
      // border: 1px solid red;

      .medal_imgArea {
        display: flex;
        width: 110px;
        height: 110px;
        align-items: center;
        justify-content: center;
        // border: 1px solid blue;

        .medal_img {
          width: 70px;
          height: 70px;
          padding: 2px;
          background-color: $white;
          filter: opacity(0.2);
          z-index: 10;
          &.success {
            filter: opacity(1) !important;
          }
        }
      }

      .medal_description {
        margin-left: -20px;
        // border: 1px solid skyblue;
      }

      .medal_title {
        font-size: 17px;
        align-items: center;
        justify-content: right;
        // border: 1px solid black;
      }

      .medal_info {
        margin-top: 5px;
        font: {
          family: 'Cafe24Ohsquareair' !important;
          weight: 20 !important;
        }
        // border: 1px solid pink;
      }
    }
  }
}

.next_medal {
  position: absolute;
  width: 5px;
  height: 55px;
  margin: {
    top: 90px;
    left: 2px;
    bottom: -40px;
  }
  border-radius: 50px;
  background-image: linear-gradient(
    to bottom,
    #39ffe5,
    #00f2fa,
    #00ebf3,
    #00ebf4,
    #00e2fc,
    #00dafe,
    #00d2ff,
    #1ecaff,
    #00c2ff,
    #00b9ff,
    #00b0ff,
    #00a7ff
  );
  z-index: 1;
  filter: opacity(0.2);
  &.success {
    filter: opacity(1) !important;
  }
}
