@import '../../../styles/styles', '../../../styles/mixins';

.endedCrew_container {
  @include modalBackground-setting;

  .endedCrew {
    @include modal-setting;
    width: 400px;
    padding: 20px 40px;

    .endedCrew_body {
      @include flex-setting(center, center, column);
      font-size: 20px;
      gap: 3px;

      .endedCrew_title {
        color: $default;
        font-size: 24px;
      }
    }

    .endedCrew_footer {
      @include flex-setting(center, center, column);
      gap: 10px;

      .endedCrew_content {
        font-family: 'Cafe24Ohsquareair';
      }

      .endedCrew_buttons {
        display: flex;
        gap: 10px;

        .endedCrew_button {
          width: 80px;
          height: 30px;
          cursor: pointer;
          color: $white;
          font-weight: bold;
          background-color: $default;
          border: 1px solid $default;
          border-radius: 3rem;

          &.no {
            color: $default;
            background-color: $white;
            border: 1px solid $default;
          }
        }
      }
    }
  }
}
