@import '../../styles/mixins', '../../styles/styles';

.WrongApproach {
  @include flex-setting(center, center, column);
  padding-top: 100px;

  .WrongApproach_img {
    width: 50px;
    height: 50px;
  }
  .WrongApproach_title {
    margin: 20px;
  }
  .WrongApproach_text {
    margin-bottom: 5px;
    color: $--text-gray;
    font-family: 'Cafe24Ohsquareair';
  }
  .WrongApproach_toHome {
    @include flex-setting(center, center, '');
    margin: 20px;
    padding: 10px;
    background-color: $--default-background-color;
    color: $default;
    border: 1px solid $default;
    border-radius: 10px;
    font-family: 'Cafe24Ohsquareair';

    &:visited {
      color: $default;
    }
  }
}
