@import '../../styles/mixins', '../../styles/styles';

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.chatWrapper {
  margin: 20px auto;
  grid-template-columns: 1fr 3fr;
  max-width: 1000px;
  height: 100%;
  overflow: hidden;
  background: $--chat-shell-background;
  border-radius: 30px;
  @include mobile {
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: calc(100vh - 80px);
    min-width: 330px;
  }
}

.chatMain {
  display: grid;
  grid: 'chatSidebar chatMessageList' 1fr / 275px 1fr;
  max-width: 1000px;
  max-height: 450px;
  width: 100%;
  @include mobile {
    display: block;
    min-height: calc(100vh - 160px);
  }
}

@include mobile {
  .chatHeader {
    display: none;
  }
  .chatSidebar {
    padding: 20px 20px 0px;
    .crewUsers {
      display: none;
    }
  }
  #chatMessageList {
    max-height: calc(100vh - 303px);
  }
}
