#Mymap {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 5rem) !important;
  overflow: visible;
}

.wrapping {
  /* background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%); */
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f89e20 51%,
    #ff512f 100%
  );
  margin: -75px 0px;
  padding: 5px 15px;
  text-align: center;
  font-style: italic;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px lightgray;
  border-radius: 10px;
  display: block;
}

.wrapping:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.createUp {
  position: fixed;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  padding: 10px;
  box-shadow: -2px 2px 10px 10px rgba(107, 107, 107, 0.2);
  border-radius: 10px;
  background-color: #f8f9fa;
  z-index: 9000;
}

.createDown {
  position: fixed;
  left: 20%;
  top: 150%;
  transform: translate(-50%, -50%);
  transition: all 5s;
}

@media screen and (max-width: 1023px) {
  .createUp {
    position: fixed;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    padding: 10px;
    box-shadow: -2px 2px 10px 10px rgba(107, 107, 107, 0.2);
    border-radius: 10px;
    background-color: #f8f9fa;
  }

  .createDown {
    position: fixed;
    left: 30%;
    top: 150%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }
}

@media screen and (max-width: 768px) {
  .createUp {
    position: fixed;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    padding: 10px;
    box-shadow: -2px 2px 10px 10px rgba(107, 107, 107, 0.2);
    border-radius: 10px;
    background-color: #f8f9fa;
  }
  .createDown {
    position: fixed;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }
}

.hide {
  display: hidden;
}
