@import '../../styles/mixins', '../../styles/styles.scss';


#Mymap {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 5rem) !important;
  overflow: visible;
}

.wrapping {
  @include gradient-btn(15px);
  margin: -75px 0px;
  padding: 5px 15px;
  background: {
    image: linear-gradient(
    to right,
    #ff512f 0%,
    #f89e20 51%,
    #ff512f 100%
  );
  };
  border-radius: 10px;
}

.wrapping:hover {
  color: #ffff;;
  background-position: right center;
}

.up {
  position: fixed;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  padding: 10px;
  box-shadow: -2px 2px 10px 10px rgba(107, 107, 107, 0.2);
  border-radius: 10px;
  background-color: #f8f9fa;
  z-index: 9000;
}

.down {
  position: fixed;
  left: 20%;
  top: 150%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.createUp {
  position: fixed;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  padding: 10px;
  box-shadow: -2px 2px 10px 10px rgba(107, 107, 107, 0.2);
  border-radius: 10px;
  background-color: #f8f9fa;
  z-index: 9000;
}

.createDown {
  position: fixed;
  left: 20%;
  top: 150%;
  transform: translate(-50%, -50%);
  transition: all 5s;
}

@media screen and (max-width: 1023px) {
  .up {
    position: fixed;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    padding: 10px;
    box-shadow: -2px 2px 10px 10px rgba(107, 107, 107, 0.2);
    border-radius: 10px;
    background-color: #f8f9fa;
  }

  .down {
    position: fixed;
    left: 30%;
    top: 150%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }

  .createUp {
    position: fixed;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    padding: 10px;
    box-shadow: -2px 2px 10px 10px rgba(107, 107, 107, 0.2);
    border-radius: 10px;
    background-color: #f8f9fa;
  }

  .createDown {
    position: fixed;
    left: 30%;
    top: 150%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }
}

@media screen and (max-width: 768px) {
  .up {
    position: fixed;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    padding: 10px;
    box-shadow: -2px 2px 10px 10px rgba(107, 107, 107, 0.2);
    border-radius: 10px;
    background-color: #f8f9fa;
  }

  .down {
    position: fixed;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }

  .createUp {
    position: fixed;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    padding: 10px;
    box-shadow: -2px 2px 10px 10px rgba(107, 107, 107, 0.2);
    border-radius: 10px;
    background-color: #f8f9fa;
  }

  .createDown {
    position: fixed;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }
}

.hide {
  display: hidden;
}
