@import '../../styles/mixins', '../../styles/styles';

.footer {
  padding: 50px;

  .footer__wrap {
    @include desktop {
      @include flex-setting('', space-around, '');
    }

    @include mobile {
      @include flex-setting(center, '', column);
      gap: 5vw;
    }

    .footer__logo {
      @include flex-setting(center, '', '');
    }
  }

  .footer__wrap__contents {
    @include flex-setting('', '', '');
    gap: 35px;

    .footer__wrap__content {
      @include flex-setting('', '', column);

      .footer_link {
        font-family: 'Cafe24Ohsquareair';
        margin: 0px 10px 0px 0px;

        &:link {
          color: $--text-color;
          text-decoration: none;
        }

        &:visited {
          color: $--text-color;
          text-decoration: none;
        }
      }

      .footer__title {
        font-size: 20px;
        font-weight: bold;
        color: $default;
        margin-bottom: 10px;
      }
    }
  }

  .footer__copyright {
    @include flex-setting('', center, '');
    font-size: 12px;
    margin-top: 30px;
  }
}
