@import '../../../styles/styles', '../../../styles/mixins';

.withdrawalModal_container {
  @include modalBackground-setting;

  .withdrawalModal {
    width: 350px;
    @include modal-setting;

    .withdrawalModal_body {
      @include flex-setting(center, '', column);

      .withdrawalModal_title {
        width: 80%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #dee2e6;
      }
    }

    .withdrawalModal_footer {
      @include flex-setting('', center, '');
      gap: 20px;

      .withdrawalModal_toHome {
        padding: 5px 10px 6px;
        @include flex-setting('', center, '');
        cursor: pointer;
        color: $white;
        font-weight: bold;
        background-color: $--button-color;
        border: 1px solid $--button-color;
        border-radius: 10px;
      }
    }
  }
}
