#chatMessageList {
  grid-area: chatMessageList;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  overflow-y: scroll;
  margin-top: 20px;

  $--message-time-color: #ccc;
  $--message-user-color: #999;
  $--message-text-color: #222;
  $--dark-color-a: #15aabf;
  $--dark-color-b: #22b8cf;
  $--light-color: #c5f6fa;
  $--light-gray: #f6f6f6;
  $--success-color: #5cb85c;
  $--error-color: #d9534f;

  .message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;

    > .message-content {
      display: grid;

      > img {
        border-radius: 100%;
        grid-row: span 3;
        width: 48px;
        height: 48px;
      }

      > .message-time {
        margin-left: 0.5rem;
        font-size: 0.1rem;
        color: $--message-time-color;
      }
      > .message-username {
        margin-left: 0.5rem;
        margin-bottom: 0.1rem;
        font-size: 0.7rem;
        color: $--message-user-color;
      }

      > .message-text {
        padding: 9px 14px;
        font-size: 1rem;
        margin-bottom: 5px;
      }
    }

    &.you-message {
      justify-content: end;

      > .message-content {
        justify-items: end;

        > .message-text {
          background: $--light-color;
          color: $--message-text-color;
          border: 1px solid $--light-color;
          border-radius: 14px 14px 0 14px;
        }
      }
    }

    &.other-message {
      justify-items: start;

      > .message-content {
        grid-template-columns: 48px 1fr;
        grid-column-gap: 15px;

        > .message-text {
          background: $--light-gray;
          color: $--message-text-color;
          border: 1px solid #eee;
          border-radius: 14px 14px 14px 0;
        }
      }
    }
  }
}

.chatStartLine {
  display: flex;
  flex-basis: 100%;
  margin: 8px 0px 15px 0px;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #999;

  &::before,
  &::after {
    content: '';
    flex-grow: 1;
    background: #ccc;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
  }
}
