@import '../../styles/styles.scss' , '../../styles/mixins.scss';

.joinWrapper{
  @include landing-section-wrapper(10vw auto 5vh auto);
}

.join{
  position: relative;
  display: flex;
  height: 50vh;
  // border: 1px solid red;
}


.joinGIF{
  flex-direction: column;
  @include mobile {
    width: 50vw;
    height: 50vw;
  }
  @include desktop {
    width: 50%;
    height: 80%;
  }
  margin: {
    top: -5vw;
    left: 5vw;
  }
  border-radius: 8px;
  z-index: 10;
  // border: 1px solid green;
}

.joinContentBack {
  position: absolute;
  @include mobile {
    width: 60vw;
    height: 60vw;
  }
  @include desktop {
    width: 50%;
    height: 70%;
  }
  margin: {
    top: 8%;
    left: 20vw;
  }
  opacity: 0.5;
  overflow-x: hidden;
  z-index: 1;
  // border: 1px solid red;
}

.joinContentText{
  position: relative;
  flex-direction: column;
  @include mobile {
    width: 50vw;
    height: 30vw;
  }
  @include desktop {
    width: 50%;
    height: 30%;
  }
  margin-top: 45vw;
  text-align: center;
  font-size: 2vw;
  color: $--text-color;
  z-index: 10;
  border: 1px solid navy;
}

.joinContenLine{
  position: relative;
  font: {
    size: 2vw;
    weight: 500;
  }
  z-index: 10;
  &:nth-child(1) {
    margin-top: 12vw;
  }
  // border: 1px solid gray;
}

@media screen and (max-width: 768px) {
    .joinWrapper {
      min-width: 320px;
    }
  }