@import '../../styles/styles.scss' , '../../styles/mixins.scss';

@mixin bubble {
  @include mobile {
    width: 15vw;
    height: 15vw;
    background-size: 15vw;
  }
  @include desktop {
    width: 160px;
    height: 160px;
    background-size: 80%;
  }
  flex-direction: column;
  background: {
    image: url(https://cdn-icons-png.flaticon.com/512/2598/2598830.png);
    position: center;
    repeat: no-repeat;
  };
  @content;
}
@mixin dots {
  @include mobile {
    font-size: 3vw;
    letter-spacing: 1vw;
  }
  @include desktop {
    font-size: 35px;
    letter-spacing: 10px;
  }
  margin: 25% 35%;
  color: #ffff;
  z-index: 9999;
}

.doChatWrapper{
  @include landing-section-wrapper(10vh auto);
}

.doChat{
  // height: 66vw;
  z-index:999;
  // border: 1px solid red;
}

.doChatGIF{
  @include mobile {
    width: 45vw;
    height: 30vw;
    margin: 5vw 27%;
  }
  @include desktop {
    width: 60%;
    height: 40%;
    margin: 5% 21.5%;
  }
  z-index: 999;
  // border: 1px solid orange;
}

.doChatBubbles{
  display: flex;
  @include mobile {
    width: 85vw;
    height: 5vw;
    margin: 10vw auto;
  }
  @include desktop {
    width: 850px;
    height: 50px;
    margin: 20% auto 5% auto;
  }
  // border: 1px solid black
}

.doChatBubblesText{
  @include mobile {
    width: 35vw;
    height: 5vw;
    margin: 5vw 7vw;
    font-size: 2vw;
  }
  @include desktop {
    width: 400px;
    height: 90px;
    margin: 0px 50px;
    font-size: 25px;
  }
  text-align: center;
  color: $--text-color;
  z-index: 1;
  // border: 1px solid olive;
}

.doChatBubblesLine{
  font-size: 2vw;
  &:nth-child(1) {
    margin-top: 3vw;
  }
}

.doChatBubbleLeft {
  @include bubble;
  @include mobile {
    margin-left: 3vw;
  };
  @include desktop {
    margin-left: 35px;
  }
  // border: 1px solid pink;
}

.doChatBubbleLeftDots{
  @include dots;
}

.doChatBubbleRight{
  @include bubble;
  transform: scaleX(-1);
  // border: 1px solid pink;
}

.doChatBubbleRightDots{
  @include dots;
}

@media screen and (max-width: 768px) {
    .doChatWrapper {
      min-width: 320px;
    }
  }