.mateWrapper{
    width: 100%;
    position: relative;
    // margin: 20rem auto 10rem auto;
    margin: 10vw auto 5vh auto; 
    background-image: url("../Landing/LandingSVG/blob.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60vw;
    // border: 1px solid red;
}

.mateBack{
    z-index: 1;
    // border: 1px solid red;
}

.mateLine {
    font-family: 'Cafe24Ohsquare';
    font-size: 2.3vw;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    z-index: 9999;
}

.matePicture{
    display: flex;
    margin-top: 12vh;
    margin-bottom: 10vh;
    z-index: 9999;
}


.FAQ{
    flex-direction: column;
    flex: 1 1 auto;
    width: 30vw;
    height: 30vw;
    // margin-top: 5vw;
    transform: rotate(90deg);
}

.mate{
    flex-direction: column;
    flex: 1 1 auto;
    width: 30vw;
    height: 30vw;
}


@media screen and (max-width: 768px) {
    .mateWrapper {
      min-width: 320px;
    }
  }