@import '../../styles/styles.scss' , '../../styles/mixins.scss';
@mixin picture-setting {
  flex: 1 1 auto;
  flex-direction: column;
  @include mobile {    
    width: 30vw;
    height: 30vw;
  }
  @include desktop {
    width: 400px;
    height: 400px;
  }
  @content; 
}

.mateWrapper{
  @include landing-section-wrapper(10vw auto 5vh auto);
  position: relative;
  background: {
    image: url("../Landing/LandingSVG/blob.svg");
    position: center;
    repeat: no-repeat;
  };
  @include mobile {
    background-size: 60vw;
  }
  @include desktop {
    background-size: 1000px;
  }
    // border: 1px solid red;
}

.mateLine {
  @include mobile {
    font-size: 2vw;
  }
  @include desktop {
    font-size: 30px;
  }
  line-height: 160%;
  text-align: center;
  color: $--text-color;
}

.matePicture{
  display: flex;
  margin: {
    top: 12vh;
    bottom: 10vh;
  }
}

.mate{
  @include picture-setting; 
}

.FAQ{
  @include picture-setting; 
  transform: rotate(90deg);
}



@media screen and (max-width: 768px) {
    .mateWrapper {
      min-width: 320px;
    }
  }