.medalWrapper{
    width: 100vw;
    margin: 20rem auto 10rem auto;
    // border: 1px solid rgb(175, 175, 179);
}

.growingTextWrapper{
    height: 10vw;
    text-align: center;
    justify-content: center;
    // border: 1px solid purple;
}

.growingLine{
    font-size: 2vw;
    font-weight: 600;
    // border: 1px solid gray;
}

.growingPicWrapper{
    display: flex;
}


.growing{
    flex-direction: column;
    width: 30%;
    height: 50%;
    margin-top: 3vw;
    // border: 1px solid red;
}

.medals{
    display: flex;
    width: 50%;
    height: 50%;
    margin-top: 25vw;
    margin-left: 20vw;
    // border: 1px solid red;

}

.medal{ 
    width: 7vw;
    height: 7vw;
    margin-top: 7vw;
    margin-left: 1vw;
    &:last-child() {
        height: 7.2vw;
    }
    // border: 1px solid green;
}

.topBtn{
  // float: right;
  width: 8vh;
  height: 12vh;
  margin-top: 10vh;
  margin-left: 78vw;
  text-align: center;
  font-weight: 600;
  font-size: 1.5vh;
  color: rgb(90, 200, 214);
  // border:1px solid red;
}

.topBtnImg{
  width: 3vw;
  height: 3vw;
  margin-top: 50%;
  transform: rotate(90deg);
  cursor: pointer;
  &:hover{
    color: white;
    border-radius: 50px;
  }
}



@media screen and (max-width: 768px) {
  .medalWrapper {
    min-width: 320px;
  }
}