.medalWrapper{
    margin: 20rem auto;
    border: 1px solid blue;

}
.growing{
    width: 30%;
    height: 50%;
    border: 1px solid red;
}

.medals{
    display: flex;
}

.medal1{
    flex-direction: column;
}

