@import '../../styles/styles.scss' , '../../styles/mixins.scss';

@mixin background-letters {
  flex-direction: column;
  flex: 1 1 auto;
  height: 20vh;
  @include mobile {
    font-size: 5vw !important;
  }
  @include desktop {
    font-size: 50px !important;
  }
  @content;
}

.searchWrapper{
  @include landing-section-wrapper(5vh auto auto auto);
}


.searchGIFWrapperBack {
  display: flex;
  position: relative;
}

.searchLeft{
  @include background-letters;
  position: absolute;
  margin-top: 3vw;
  color:rgba(90, 206, 235, 0.322);
  }
  
.searchRight {
  @include background-letters;
  position:relative;
  text-align: right;
  color:rgba(93, 182, 223, 0.445);
}

.searchGIFWrapper{
  position: relative;
  margin-top: 5vw;
  z-index: 99;
}


.searchGIF{
  @include mobile {
    width: 60vw;
    height: 40vw;
    border-radius: 6px;
  }
  @include desktop {
    width: 60%;
    height: 35%;
    border-radius: 12px;
  }
  margin: auto 20%;
  box-shadow: 1 1 1 1;
  z-index: 99;
}

.searchContentWrapper{
  display: flex;
}

.searchContentText{
    flex: 1 1 0;
  @include mobile{
    width: 35vw;
    height: 50vw;
    margin: {
      top: -23vh;
      left: 9vw;
    }
  }
  @include desktop {
    min-width: 350px;
    height: 500px;
    margin-top: -27vh;
  }
  z-index: 999; 
}

.searchContentLine {
  @include mobile {
    font-size: 2vw;
    &:nth-child(1) {
      margin-top: 25vw;
    }
  }
  @include desktop {
    font-size: 23px;
    &:nth-child(1) {
      margin-top: 250px;
    }
  }
  color: $--text-color;
}

.search{
  @include mobile {
    width: 30vw;
    height: 50vw;
    margin: {
      top: -25vh;
      left: 20vw;
    }
  }
  @include desktop {
    width: 300px;
    height: 500px;
    margin: {
      top: -25vh;
      left: 20vh;
    }
  }
  flex: 1 1 0;
  z-index: 999;
}

@media screen and (max-width: 768px) {
    .searchWrapper {
      min-width: 320px;
    }
  }