@import '../../styles/styles.scss';
@mixin left-right-setting {
  flex-direction: column;
  flex: 1 1 auto;
  height: 20vh;
  font-size: 5vw !important;
  @content;
}

.searchWrapper{
  width: 100%;
  margin-top: 5vh;
  // margin: 5vh auto 0px auto;
  overflow: {
    x: hidden;
    y: hidden;
  }; 
}


.searchGIFWrapperBack {
  display: flex;
  position: relative;
}

.searchLeft{
  @include left-right-setting;
  position: absolute;
  margin-top: 3vw;
  color:rgba(90, 206, 235, 0.322);
  // border: 2px solid blue;

  }
  
.searchRight {
  @include left-right-setting;
  position:relative;
  text-align: right;
  color:rgba(93, 182, 223, 0.445);
  // border: 2px solid red;
}

.searchGIFWrapper{
  position: relative;
  margin-top: 5vw;
  z-index: 99;
    // border: 1px solid blue;
}


.searchGIF{
  flex-direction: column;
  width: 50vw;
  height: 35vw;
  margin: auto 25%;
  border-radius: 12px;
  box-shadow: 1 1 1 1;
  z-index: 99;
  // border: 2px solid green;
}

.searchContentWrapper{
  display: flex;
}

.searchContentText{
  flex-direction: column;
  width: 50vw;
  // height: 50vw;
  margin: {
    top: -27vh;
    left: 9vw;
  }
  z-index: 999;
  // border: 2px solid black;
}

.searchContentLine {
  font: {
    size: 2vw;
    weight: 500;
  }
  color: $--text-color;
  &:nth-child(1) {
    margin-top: 25vw;
  }
}

.search{
  flex-direction: column;
  width: 30vw;
  height: 50vw;
  margin: {
    top: -30vh;
    left: 20vw;
  }
  z-index: 999;
  // border: 2px solid black;
}

@media screen and (max-width: 768px) {
    .searchWrapper {
      min-width: 320px;
    }
  }