@import '../../styles/styles.scss' , '../../styles/mixins.scss';

@mixin left-right-setting {
  flex-direction: column;
  flex: 1 1 auto;
  height: 20vh;
  font-size: 5vw !important;
  @content;
}

.searchWrapper{
  @include landing-section-wrapper(5vh auto auto auto);
}


.searchGIFWrapperBack {
  display: flex;
  position: relative;
  // background-color: red;
}

.searchLeft{
  @include left-right-setting;
  position: absolute;
  margin-top: 3vw;
  color:rgba(90, 206, 235, 0.322);
  // border: 2px solid blue;

  }
  
.searchRight {
  @include left-right-setting;
  position:relative;
  text-align: right;
  color:rgba(93, 182, 223, 0.445);
  // border: 2px solid red;
}

.searchGIFWrapper{
  position: relative;
  margin-top: 5vw;
  z-index: 99;
  // border: 1px solid blue;
}


.searchGIF{
  @include mobile {
    width: 50vw;
    height: 35vw;
  }
  @include desktop {
    width: 600px;
    height: 400px;
  }
  margin: auto 20%;
  border-radius: 12px;
  box-shadow: 1 1 1 1;
  z-index: 99;
  // border: 2px solid green;
}

.searchContentWrapper{
  display: flex;
}

.searchContentText{
  @include mobile{
    width: 30vw;
    height: 50vw;
    margin: {
      top: -27vh;
      left: 9vw;
    }
  }
  @include desktop {
    min-width: 300px;
    height: 500px;
    margin: {
      top: -27vh;
      left: 10vw;
    }
  }
  z-index: 999;
  border: 2px solid black;
}

.searchContentLine {
  @include mobile {
    font-size: 2vw;
    &:nth-child(1) {
      margin-top: 25vw;
    }
  }
  @include desktop {
    font-size: 20px;
    &:nth-child(1) {
      margin-top: 250px;
    }
  }
  flex: 1 1 0;
  color: $--text-color;
}

.search{
  @include mobile {
    width: 30vw;
    height: 50vw;
    margin: {
      top: -25vh;
      left: 20vw;
    }

  }
  @include desktop {
    width: 300px;
    height: 500px;
    margin: {
      top: -300px;
      left: 200px;
    }
  }
  flex: 1 1 0;
  z-index: 999;
  border: 2px solid black;
}

@media screen and (max-width: 768px) {
    .searchWrapper {
      min-width: 320px;
    }
  }