@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';

@mixin button( $font-size: 1.5vw, $color: $white, $prefixes: ()) {
  @include mobile {
    max-width: 13vw;
  }
  @include desktop {
    width: 150px;
  }
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  color: $white;
  text-align: center;
  font: {
    style: italic;
    size: $font-size;
  }
  border-radius: 20px;
  background: {
    size: 200% auto;
    image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  };
  transition: 0.5s;
  box-shadow: 1px 1px 20px rgb(202, 202, 202);
  &:hover {
    cursor: pointer;
    background-position: right center;
  }
  @content;
}


.walkWrapper {
  @include landing-section-wrapper; 
}

.walk {
  @include flex-column-settting;
  @include mobile {
    width: 25vw;
    height: 45vh;
  }
  @include desktop {
    width: 500px;
    height: 700px;
    margin-left: -150px;
  }
  // border: 1px solid red;
}

.walkInfo {
  @include flex-column-settting;
  height: 15vh;
  margin-top: 23vh;
  font: {
    size: 2rem;
    weight: 500
  }
  // border: 1px solid red;
}

.line {
  // font-size: 2vw;
  @include mobile {
    font-size: 2vw;
  }
  @include desktop {
    font-size: 30px;
  }
  line-height: 130%;
  color: $--text-color;
  &:nth-child(1) {
    margin-top: 3vh;
  }
}

.btnWrapper{
  display: flex;
}

.doRunBtn {
  @include button;
  @include mobile {
    font-size: 1.3vw;
  }
  @include desktop {
    font-size: 18px;
  }
}

.guestBtn{
  @include button(1.3vw, transparent, webkit);
  @include mobile {
    font-size: 1.3vw;
  }
  @include desktop {
    font-size: 18px;
  }
  margin-left: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}