@import '../../styles/styles.scss' , '../../styles/mixins.scss';


.walkWrapper {
  @include landing-section-wrapper(10vh auto 5vh auto);
  display: flex;  
}

.walk {
  @include flex-column-settting;
  @include mobile {
    width: 25vw;
    height: 45vh;
  }
  @include desktop {
    width: 500px;
    height: 700px;
    margin-left: -150px;
  }
}

.walkInfo {
  @include flex-column-settting;
  height: 15vh;
  margin-top: 23vh;
  font: {
    size: 2rem;
    weight: 500
  }
}

.line {
  @include mobile {
    font-size: 2vw;
  }
  @include desktop {
    font-size: 30px;
  }
  line-height: 130%;
  color: $--text-color;
  &:nth-child(1) {
    margin-top: 6vw;
  }
}

.btnWrapper{
  display: flex;
}

.doRunBtn {
  @include gradient-btn( $font-size: 1.5vw, $color: $white, $prefixes: ());
  @include mobile {
    font-size: 1.3vw;
  }
  @include desktop {
    font-size: 18px;
  }
}

.guestBtn{
  @include gradient-btn(1.3vw, transparent, webkit);
  @include mobile {
    font-size: 1.3vw;
  }
  @include desktop {
    font-size: 18px;
  }
  margin-left: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}