@import '../../styles/styles.scss';
@mixin flex-column {
  flex: 1 1 auto;
  flex-direction: column;
}
@mixin button( $font-size: 1.5vw, $color: $white, $prefixes: ()) {
  max-width: 13vw;
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  color: $white;
  text-align: center;
  font: {
    style: italic;
    size: $font-size;
  }
  background: {
    size: 200% auto;
    image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  };
  transition: 0.5s;
  box-shadow: 1px 1px 20px rgb(202, 202, 202);
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    background-position: right center;
  }
  @content
}


.walkWrapper {
  width: 100%;
  display: flex;
  margin: 10vh auto 5vh auto;
  overflow: {
    x: hidden !important;
    y: hidden !important;
  }
}

.walk {
  @include flex-column;
  width: 30vw;
  height: 50vh;
  // border: 1px solid red;
}

.walkInfo {
  @include flex-column;
  height: 15vh;
  margin-top: 23vh;
  font: {
    size: 2rem;
    weight: 500
  }
  // border: 1px solid red;
}

.line {
  font-size: 2vw;
  line-height: 3vw;
  color: $--text-color;
  &:nth-child(1) {
    margin-top: 3vh;
  }
}

.btnWrapper{
  display: flex;
}

.doRunBtn {
  @include button;
}

.guestBtn{
  @include button(1.3vw, transparent, webkit);
  margin-left: 1rem;
  font-size: 1.3vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .walkWrapper {
    min-width: 320px;
  }
}
