$--dark-color-a: #15aabf;
$--dark-color-b: #22b8cf;
$--yellow-color-a: #fcc419;
$--yellow-color-b: #fff3bf;
$--light-color: #c5f6fa;
$--light-gray: #f6f6f6;
$--success-color: #5cb85c;
$--error-color: #d9534f;
$--text-color: #333;

.chatFormContainer {
  padding: 20px 30px;
  background-color: $--dark-color-a;
  .chatFrm {
    display: flex;

    .chatMsg {
      font-size: 1rem;
      padding: 5px;
      padding-left: 1.4rem;
      height: 40px;
      flex: 3;
      background: $--light-gray;
      border: none;
      border-radius: 30px 0 0 30px;
      color: $--text-color;
      font-family: 'Cafe24Ohsquareair';
    }
  }
}
.chatBtn {
  text-transform: none;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  padding: 5px 15px;
  background: $--light-color;
  color: $--dark-color-a;
  border: none;
  &:hover {
    background-color: $--yellow-color-a;
    color: $--yellow-color-b;
    transition: all 0.3s linear 0s;
  }
}

@media screen and (max-width: 768px) {
  .chatMsg {
    width: calc(328px * 0.73);
  }
  .emoji-mart {
    top: calc(100vh - 508px) !important;
    left: 1px !important;
  }
}
