@import "../../../styles/styles.scss";

.myDoRunForm {
  height: 540px;
  padding: 10px 10px 0px 10px;
  font-weight: bold;
  border-top: 1px solid #dee2e6;
}

.myDoRunInfo {
  margin: 1px auto;
}

.myDoRunList {
  display: flex;
  width: auto;
  height: 40px;
  margin: 10px auto;
  padding: 3px;
  text-align: right;
  align-items: center;

  &:nth-child(1) {
    //* 크루 타이틀
    height: 43px;
    margin: {
      top: 0px !important;
      bottom: 20px;
    }
    text-align: left !important;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &:last-child {
    //* 크루 세부 사항
    height: 120px;
    margin-bottom: 13px;
  }
}

.listCategory {
  width: 75px;
  padding: 1px;
  font: {
    weight: 600;
    size: 18px;
  }
  color: $default;
  &_desc {
    width: 75px;
    height: 100px;
    padding: 1px;
    font: {
      weight: 600;
      size: 18px;
    }
    color: $default;
  }
}

.title {
  margin: auto;
  font-size: 20px;
  color: $default;
}

.departure {
  margin: auto;
  padding: 2px;
  color: $--mypage-text-color;
  text-align: center;
  overflow: auto;
  font-family: 'Cafe24Ohsquareair';
}

.date {
  margin: auto;
  color: $--mypage-text-color;
  text-align: left;
  font-family: 'Cafe24Ohsquareair';
}

.time {
  margin: auto;
  color: $--mypage-text-color;
  font-family: 'Cafe24Ohsquareair';
}

.personnel {
  margin: auto;
  color: $--mypage-text-color;
  font-family: 'Cafe24Ohsquareair';
}

.level {
  display: flex;
  margin: auto;
  color: $--mypage-text-color;
  font-family: 'Cafe24Ohsquareair';
}

.crewLevel {
  flex-direction: column;
  width: 63px;
  // height: 35px;
  padding: 5px 5px;
  margin: 2px 5px 5px 5px;
  border: 2px solid $default;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  font-size: 0.9rem;
  color: $--mypage-text-color;
  font-family: 'Cafe24Ohsquareair';
  &.picked {
    color: $white;
    background-color: $default;
  }
}

.distance {
  display: flex;
  margin: auto;
  color: $default;
  font-family: 'Cafe24Ohsquareair';
}

.Desc {
  width: 250px;
  height: 100px;
  margin-left: 3px;
  padding: 0px 20px;
  text-align: left;
  font-weight: 450;
  color: $--mypage-text-color;
  overflow: auto;
  font-family: 'Cafe24Ohsquareair';
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background: {
      color: $default;
      clip: padding-box;
    };
    border: 2px solid transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px $white;
  }
}

.goOutMyDorun {
  display: flex;
}

.crewSigout {
  flex-direction: column;
  flex: 0 1 1;
  width: 150px;
  padding: 10px 15px;
  margin-left: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: $white;
  font-weight: bold;
  background-color: $default;
  border-radius: 20px;
}

.crewChat {
  flex-direction: column;
  flex: 0 1 1;
  width: 150px;
  margin-left: 5px;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  color: $white;
  font-weight: bold;
  background-color: $yellow;
  border-radius: 20px;
}

.MyDoRun_unjoined {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 540px;
  .unjoined_content {
    font-size: 20px;
    margin: 20px;
  }
  .unjoined_link {
    &:visited {
      color: $default;
      text-decoration: none;
    }
  }
}
