@import '../../../styles/styles.scss';

.card {
  display: flex;
  border: 1px solid $--input-border;
  border-radius: 1rem;
  background-color: $white;
  gap: 1vw;
  width: 400px;
  height: 162px;
  transition: all 0.5s;

  &_focused {
    @include flex-setting('', '', column);
    border: 1px solid $--input-border;
    border-radius: 1rem;
    background-color: $white;
    padding: 20px;
    width: 400px;
    height: 750px;
    transition: all 0.5s;

    .card_wrapper {
      display: flex;
      gap: 1vw;

      .card_left {
        @include flex-setting(center, center, '');
        padding: 10px;

        .card_img {
          padding: 10px 0px;
          width: 100px;
          height: 100px;
        }
      }

      .card_right {
        .card_title {
          font-weight: normal;
        }

        .card_content {
          margin-top: 5px;
          color: $--text-color;
          font-family: 'Cafe24Ohsquareair';
        }
      }
    }
    .content_opened {
      @include flex-setting(center, '', column);
      margin-top: 20px;
      cursor: pointer;
      min-height: 20px;

      &:hover .content_close {
        width: 30px;
        height: 30px;
        transition: all 0.3s;
      }
      .content_close {
        width: 20px;
        height: 20px;
        transition: all 0.3s;
      }
    }
  }

  .card_wrapper {
    display: flex;
    margin: 20px;
    width: 358px;
    height: 120px;
    gap: 1vw;
    cursor: pointer;

    &:hover {
      margin: 18px;
      width: 362px;
      height: 124px;
      transition: all 0.3s;
    }

    .card_left {
      @include flex-setting(center, center, '');
      padding: 10px;

      .card_img {
        padding: 10px 0px;
        width: 100px;
        height: 100px;
      }
    }

    .card_right {
      .card_title {
        font-weight: normal;
      }

      .card_content {
        margin-top: 5px;
        color: $--text-gray;
        font-family: 'Cafe24Ohsquareair';
      }
    }
  }
}
