@import "../../../styles/styles.scss";
@mixin myDoRun-category{
  width: 75px;
  padding: 1px;
  font: {
    weight: 600;
    size: 18px;
  }
  color: $default;
  @content;
}
@mixin myDoRun-content($margin ,$text-color) {
  margin: $margin;
  color: $text-color;
  font-family: 'Cafe24Ohsquareair';
  // background-color: red;
  @content;
}
@mixin myDorun-Button($btn-margin-left, $btn-color){
  flex-direction: column;
  flex: 0 1 1;
  width: 150px;
  margin-left: $btn-margin-left;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  color: $white;
  font-weight: bold;
  background-color: $btn-color;
  border-radius: 20px;
  @content;
}

.myDoRunForm {
  height: 540px;
  padding: 10px 10px 0px 10px;
  font-weight: bold;
  border-top: 1px solid #dee2e6;
}

.myDoRunInfo {
  margin: 1px auto;
}

.myDoRunList {
  display: flex;
  width: auto;
  height: 40px;
  margin: 10px auto;
  padding: 3px;
  text-align: right;
  align-items: center;
  &:nth-child(1) {
    height: 43px;
    margin: {
      top: 0px !important;
      bottom: 20px;
    }
    text-align: left !important;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &:last-child {
    // 크루 세부 사항
    height: 120px;
    margin-bottom: 13px;
  }
}

.listCategory {
  @include myDoRun-category;
  &.desc {
      height: 100px;
    }
}

.title {
  @include myDoRun-content(auto, $default);
  font-size: 20px;
}

.departure {
  @include myDoRun-content(auto, $--text-gray);
  padding: 2px;
  text-align: center;
  overflow: auto;

}

.date {
  @include myDoRun-content(auto, $--text-gray);
  text-align: left;
}

.time {
  @include myDoRun-content(auto, $--text-gray);
}

.personnel {
  @include myDoRun-content(auto, $--text-gray);
}

.level {
  @include myDoRun-content(auto, $--text-gray);
  display: flex;
}

.crewLevel {
  @include myDoRun-content( 2px 5px 5px 5px , $--text-gray);
  flex-direction: column;
  width: 63px;
  padding: 5px 5px;
  border: 2px solid $default;
  text-align: center;
  border-radius: 30px;
  font-size: 0.9rem;
  &.picked {
    color: $white;
    background-color: $default;
  }
}

.distance {
  @include myDoRun-content(auto, $--text-gray);
  display: flex;
}

.Desc {
  @include myDoRun-content(auto, $--text-gray);
  width: 250px;
  height: 100px;
  padding: 0px 20px;
  text-align: left;
  font-weight: 450;
  overflow: auto;
  &::-webkit-scrollbar{
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background: {
      width: 10px;
      color: $default;
      clip: padding-box;
    };
    border: 2px solid transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px $white;
  }
}

.goOutMyDorun {
  display: flex;
}

.crewSigout {
  @include myDorun-Button(17px, $default);
}

.crewChat {
  @include myDorun-Button(5px, $yellow);
}

.MyDoRun_unjoined {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 540px;
  .unjoined_content {
    font-size: 20px;
    margin: 20px;
  }
  .unjoined_link {
    &:visited {
      color: $default;
    }
  }
}
