@import '../../../styles/styles.scss';

.MyHistory {
  @include flex-setting(center, center, column);
  margin-top: 1rem;

  .MyHistory_wrapper {
    width: 360px;
    height: 530px;
    margin: 0 auto;
    border-top: 1px solid $--input-border;
    background-color: $white;
    padding-top: 1rem;

    .MyHistory_top {
      @include flex-setting(center, center, '');
      margin-bottom: 1rem;

      .MyHistory_title {
        font-size: 18px;
        font-weight: bold;
        color: $default;
      }
    }

    .MyHistory_mid {
      @include flex-setting(center, '', column);
      height: 468px;
      overflow: scroll;

      .MyHistory_content {
        @include flex-setting('', right, '');
        width: 90%;
        padding: 15px 0px;
        border-bottom: solid 1px #000;

        .MyHistory_date {
          width: 140px;
          margin: 0px 10px;
        }

        .MyHistory_DoRunTitle {
          width: 100%;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .MyHistory_mid::-webkit-scrollbar {
      width: 7px;
    }
    .MyHistory_mid::-webkit-scrollbar-thumb {
      background-color: $default;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
    }
    .MyHistory_mid::-webkit-scrollbar-track {
      border-radius: 10px;
      box-shadow: inset 0px 0px 5px $white;
    }
  }
}

.Preparing {
  @include flex-setting(center, center, '');
  height: 540px;
  color: $--text-gray;
  font-size: 20px;
}
