.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  position: absolute;
  top: 26px;
  right: 0;
  width: 90px;
  height: 40px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.3s ease, visibility 0.3s;

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5f6368;
    font-weight: 550;
    cursor: pointer;
  }
}
.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.menu.clicked {
  transition: all 0.5s;
  width: 400px;
  height: 450px;

  .tab_clicked {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .tab_header {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 1px solid #dee2e6;
    }
  }
}
