.menu {
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  position: absolute;
  top: 26px;
  right: 0;
  width: 90px;
  height: 40px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.3s ease, visibility 0.3s;

  div {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5f6368;
    font-weight: 550;
    cursor: pointer;
  }
}
.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.menu.clicked {
  transition: all 0.5s;
  width: 450px;
  height: 500px;
}
