@import '../../styles/mixins', '../../styles/styles';

.msgWrapper {
  width: 500px;
  height: 600px;
  margin: 100px auto;
  text-align: center;

  @include mobile {
    width: 60%;
    word-break: keep-all;
  }
  h1 {
    letter-spacing: 0.1rem;
    color: $--dark-color-a;
  }

  h3 {
    margin-top: 30px;
    @include mobile {
      letter-spacing: 0rem;
    }
  }
}

.msgBtn {
  margin-top: 50px;
  width: 23rem;
  background: $default;
  color: $white;
  text-transform: uppercase;
  border: none;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  cursor: pointer;
  border-radius: 2rem;
  -webkit-appearance: none;
  @include mobile {
    margin-top: 60px;
    width: 80%;
  }

  &:hover {
    background: $--dark-color-a;
  }
  &:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
}
