@import '../../styles/styles.scss';

.MyPage {
  @include flex-setting(center, center, column);

  .MyPage_header {
    @include flex-setting(center, '', column);
    max-width: 768px;
    width: 100%;
    margin: 30px 0px;
    position: relative;

    .header_profile {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
    .header_email {
      height: 20px;
      position: absolute;
      right: 0;
      cursor: pointer;
      margin-right: 20px;
    }
    .header_etc {
      width: 25px;
      height: 20px;
      position: absolute;
      right: 0;
      cursor: pointer;
    }

    .header_content {
      font-size: 20px;
    }
  }

  .MyPage_body {
    @include flex-setting(center, '', column);
    padding: 10px;
    gap: 3vw;

    .body_cards {
      @include flex-setting('', center, '');
      gap: 3vw;
    }

    .nonVerified {
      @include flex-setting(center, center, column);
      gap: 20px;
      height: 370px;

      .nonVerified_text {
        color: $--text-gray;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body_cards {
    @include flex-setting('', center, column);
    gap: 3vw;
  }
}
