.createModalHeader {
  display: flex;
  flex-direction: column;

  .createModalExit {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 20px;
    cursor: pointer;
  }
}

.bodyTop {
  text-align: center;
  padding: 10px;

  .createTitle {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    // margin: 0px 20px;
    color: #3bc9db;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 1px solid #3bc9db;
  }
}

.cbodyMid {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  .mid_options {
    color: #3bc9db;
    font-weight: bold;
    display: flex;
    gap: 3vw;
    align-items: center;
    .left_title {
      width: 86px;
      height: 40px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    .left_details {
      width: 86px;
      height: 40px;
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 50px;
    }

    .right_input {
      width: 245px;
      height: 35px;
      resize: none;
      padding: 10px;
      background-color: #eeeeee;
      border: 1px solid #dee2e6;
      border-radius: 4px;
    }

    .right_date,
    .right_time {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 245px;
      height: 35px;
      margin: 0px;
      color: #000000;
      background-color: #eeeeee;
      font-weight: bold;
      border: 1px solid #dee2e6;
      border-radius: 4px;
      gap: 3px;
      .time {
        font-size: 15px;
        margin: 0.4rem;
        width: 110px;
        height: 32px;
        border: none;
        background-color: #eeeeee;
      }
      .date {
        border: none;
        background: #eeeeee;
        width: 245px;
        padding: 0.4rem;
        font-size: 15px;
      }
    }

    // *************** 라디오 버튼 **************** //
    $color1: #f4f4f4;
    $color2: #22b8cf;

    .right_radios {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 245px;
    }

    .radio {
      font-size: 14px;
      display: flex;
      margin: 0.5rem;
      align-items: center;
      .right_radio {
        cursor: pointer;
      }
      input[type='radio'] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        + .right_radio {
          &:before {
            content: '';
            background: $color1;
            border-radius: 100%;
            border: 1px solid darken($color1, 25%);
            display: inline-block;
            margin-right: 0.5rem;
            width: 1em;
            height: 1em;
            position: relative;
            // margin-top: 0.2rem;
            padding: 1px;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
          }
        }
        &:checked {
          + .right_radio {
            &:before {
              background-color: $color2;
              box-shadow: inset 0 0 0 4px $color1;
            }
          }
        }
        &:focus {
          + .right_radio {
            &:before {
              outline: none;
              border-color: $color2;
            }
          }
        }
        + .right_radio {
          &:empty {
            &:before {
              margin-right: 0;
            }
          }
        }
      }
    }

    .right_textarea {
      margin-top: 10px;
      width: 245px;
      height: 100px;
      resize: none;
      padding: 10px;
      background-color: #eeeeee;
      border: 1px solid #dee2e6;
      border-radius: 4px;
    }
  }
}

.createModalFooter {
  display: flex;
  justify-content: center;
  gap: 20px;

  .toCreate {
    display: flex;
    justify-content: center;
    margin: 0px;
    cursor: pointer;
    color: #ffffff;
    width: 19rem;
    font-size: 16px;
    font-weight: bold;
    background-color: #3bc9db;
    border: 1px solid #3bc9db;
    border-radius: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .createModalBody {
    height: 300px;
    overflow: auto;
  }
  .createModalBody::-webkit-scrollbar {
    width: 7px;
  }
  .createModalBody::-webkit-scrollbar-thumb {
    background-color: #3bc9db;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .createModalBody::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
}
