.resetPasswordContainer {
  all: unset;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9998;
}

.resetPassword {
  width: 380px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  box-shadow: -2px 2px 10px 10px rgba(107, 107, 107, 0.2);
  border-radius: 10px;
  background-color: #f8f9fa;
  z-index: 9999;

  .resetPassword_header {
    display: flex;
    flex-direction: row-reverse;
  }
  .resetPassword_exit {
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resetPassword_title {
    font-weight: 700;
    font-size: 2rem;
    color: #555;
    text-align: center;
    padding-bottom: 10px;
  }

  .resetPassword_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .resetPassword_text {
      font-family: 'Cafe24Ohsquareair';
      margin: 5px;
    }

    .resetPassword_inputArea {
      display: flex;
      flex-direction: column;
      margin: 20px;

      .resetPassword_label {
        line-height: 2;
        text-align: left;
        display: block;
        color: #868e96;
        font-size: 14px;
        font-weight: 500;
      }

      .resetPassword_input {
        width: 100%;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: #eeeeee;
        border: 1px solid #dee2e6;
      }
    }
  }

  .resetPassword_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .resetPassword_passed {
      color: #3bc9db;
    }
    .resetPassword_nonpassed {
      color: #ff7545;
    }

    .resetPassword_btn {
      width: 200px;
      background: #3bc9db;
      color: #ffffff;
      text-align: center;
      border: none;
      padding: 10px;
      margin: 20px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 10px;
      cursor: pointer;
      border-radius: 100px;
    }
  }
}
