@import '../../../styles/styles.scss', '../../../styles/mixins';

.changedModal_container {
  @include modalBackground-setting;

  .changedModal {
    width: 300px;
    @include modal-setting;

    .changedModal_body {
      text-align: center;
    }

    .changedModal_footer {
      @include flex-setting('', center, '');
      gap: 20px;

      .changedModal_toHome {
        padding: 5px 10px 6px;
        @include flex-setting('', center, '');
        cursor: pointer;
        color: $white;
        font-weight: bold;
        background-color: $default;
        border: 1px solid $default;
        border-radius: 10px;
        width: 100px;
      }
    }
  }
}
